body{

  background-color: #D1D5DE;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #1BE7FF;
  height: 100px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  color:white;
}

.App-intro {
  font-size: large;
}

/* Mine */
.event{
  display: flex;
  margin-top: 1em;
  margin-left:0.25em;
  margin-right:0.25em;
  background-color: white;
  height: 7em;
  align-items: center;
}

.slow-spin {
  animation: fa-spin 25s infinite linear;
}
.logo
{
  color:yellow;
}


.details {
  flex-basis: 66%;
}

em{
  font-size: 0.8em;
}


.owf{
  font-size: 2em;
}

.owf-800{
  color:#F8F272;
  animation: fa-spin 50s infinite linear;
}


.owf-803, .owf-804{
  color:darkgrey;
}

.owf-500{
  color:dodgerblue;
}

.temp{
  padding:0.5em;
}

.weather section{
  display: flex;
  flex-direction: column;
}

.weather section div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.needle{
  text-transform: uppercase;
  font-weight: bold;
  color:black;
}

.App-intro h3{
  color:grey;
}